<% title 'Resend Confirmation Instructions' %>
<div class='container'>
  <div class='row'>
    <div class='panel panel-default col-centered'>
      <div class='panel-heading'>
        <h1>Resend Confirmation Instructions</h1>
      </div>
      <div class='panel-body'>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class='field form-group'>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          </div>
          <div class='actions form-group'>
            <%= f.submit 'Resend Confirmation Instructions', class: 'btn btn-success form-control' %>
          </div>
        <% end %>
        <%= render 'users/shared/links' %>
      </div>
    </div>
  </div>
<div>
