<% title 'Log In' %>
<div class='container'>
  <div class='row'>
    <div class='panel panel-default col-centered'>
      <div class='panel-heading'>
        <h1>Log In</h1>
      </div>
      <div class='panel-body'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='field'>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
          </div>
          <div class='field'>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control' %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class='field'>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'Remember Me' %>
            </div>
          <% end -%>
          <div class='actions'>
            <%= f.submit 'Log In', class: 'btn btn-success btn-wide form-control' %>
          </div>
        <% end %>
        <%= render 'users/shared/links' %>
      </div>
    </div>
  </div>
</div>
