<div class='container'>
  <div class='row'>
    <div class='panel panel-default col-centered'>
      <div class='panel-heading'>
        <h1><%= action_name.capitalize %> Movie</h1>
      </div>
      <div class='panel-body'>
        <%= nested_form_for(@movie) do |f| %>
          <% if @movie.errors.any? %>
            <div id='error_explanation'>
              <h2><%= pluralize(@movie.errors.count, 'error') %> prohibited this movie from being saved:</h2>
              <ul>
              <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class='field form-group'>
            <%= f.label :title %>
            <%= f.text_field :title, maxlength: 50, required: true, class: 'form-control' %>
          </div>
          <div class='field form-group'>
            <%= f.label :release_date, 'Released At' %>
            <%= f.date_field :release_date, maxlength: 50, required: true, class: 'form-control' %>
          </div>
          <div class='field form-group'>
            <%= f.label :genre %>
            <%= f.select :genre, Movie::GENRES, { prompt: 'Please select' }, { class: 'dropdown-toggle form-control' } %>
          </div>
          <div class='field form-group'>
            <%= f.label :duration %><i>(in minutes)</i>
            <%= f.number_field :duration, maxlength: 3, class: 'form-control' %>
          </div>
          <div class='field form-group'>
            <%= f.label :description, 'Summary' %>
            <%= f.cktext_area :description, class: 'form-control' %>
          </div>
          <div class='field form-group'>
            <%= f.label :trailer_url, 'Trailer Embed Code' %>
            <%= f.text_area :trailer_url, maxlength: 1000, class: 'form-control' %>
          </div>
          <div class='field form-group'>
            <%= f.label :posters, 'Movie Posters' %>
            <div>
              <%= f.fields_for :attachments do |attachment_form| %>
                <div class='row'>
                  <% if attachment_form.object.new_record? %>
                    <div class='col-md-6'><%= attachment_form.file_field :image, class: 'margin' %></div>
                  <% else %>
                    <div class='col-md-3'><%= image_tag attachment_form.object.image.url(:thumb) %></div>
                    <div class='col-md-3'><%= attachment_form.file_field :image, class: 'margin' %></div>
                  <% end %>
                  <div class='col-md-6'><%= attachment_form.link_to_remove '', class: 'btn btn-danger margin glyphicon glyphicon-remove' %></div>
                </div>
              <% end %>
            </div>
            <div>
              <%= f.link_to_add '', :attachments, class: 'btn btn-primary margin glyphicon glyphicon-plus' %>
            </div>
          </div>
          <div class='field form-group'>
            <%= f.label :actors, 'Starring Actors' %>
            <%= f.select :actor_ids, options_from_collection_for_select(@actors, 'id', 'name', @selected), {}, { multiple: true, class: 'form-control' } %>
          </div>
          <div class='actions form-group'>
            <%= f.submit button_title('Movie'), class: 'btn btn-success col-centered form-control' %>
          </div>
          <% if action_name == 'edit' %>
            <%= link_to 'Show', @movie, class: 'btn btn-default form-control margin' %>
          <% end %>
        <% end %>
        <%= link_to 'Back', movies_path, class: 'btn btn-default form-control margin' %>
      </div>
    </div>
  </div>
</div>
