<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <%= render partial: 'profile_picture', locals: { attachment: @user.attachment } %>
      <hr/>
      <strong>Email: </strong><%= display_value(@user.email) %>
      <hr/>
      <strong>Gender: </strong><%= display_value(@user.gender) %>
      <hr/>
      <strong>Date of Birth: </strong><%= display_value(date_display(@user.birth_date)) %>
      <hr/>
    </div>
    <div class='col-md-8'>
      <h1><%= @user.full_name %></h1>
      <hr/>
      <h1>Favorites:</h1>
      <%= render partial: 'movies/index_movies', locals: { movies: @favorite_movies, top: nil } %>
      <%= paginate @favorite_movies %>
    </div>
  </div>
</div>
