<!DOCTYPE html>
<html>
  <head>
    <title>DemoProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render 'shared/header' %>
      </div>
      <div id="content">
          <div class="col-md-8 col-md-offset-2 col-centered">
            <%= render partial: 'shared/alerts' %>
          </div>
          <%= yield %>
      </div>
      <div id="footer">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
