<!DOCTYPE html>
<html>
  <head>
    <title>DemoProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
      <div id="content">
          <div class="col-md-2 col-centered">
            <div class="col-md-8 col-centered">
              <p><%= notice %></p>
              <p><%= alert %></p>
            </div>
          </div>
          <%= yield %>
      </div>
      <div id="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
